# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and databases
*.log
logs/

# IDE
.vscode/
.idea/

# Environment
.env
venv/
env/

# Project specific
resources/maps/

#wandb
wandb/

#videos and images
*.mkv
*.png
*.pdf